<a href="https://colab.research.google.com/github/drshahizan/Python-big-data/blob/main/Assignment%202a/AdMiPeQa/File1_DataTable_AdMiPeQa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Datatable library on Health Insurance Marketplace Dataset**

**Group Members:**

<table>
  <tr>
    <th>Name</th>
    <th>Matric</th>
  </tr>
  <tr>
    <th>ADAM WAFII BIN AZUAR</th>
    <th>A20EC0003</th>
  </tr>
  <tr>
    <th>HONG PEI GEOK</th>
    <th>A20EC0044</th>
  </tr>
    <tr>
    <th>MIKHEL ADAM BIN MUHAMMAD EZRIN</th>
    <th>A20EC0237</th>
  </tr>
    <tr>
    <th>QAISARA BINTI ROHZAN</th>
    <th>A20EC0133</th>
  </tr>
</table>

### **What is Python Datatable?**

Python datatable is a library for working with large, tabular datasets in Python. It is designed to be fast, flexible, and expressive, and provides a wide range of features and functionality to allow you to work with data effectively.

Some key features of Python datatable include:

Support for reading and writing data from a variety of formats, including CSV, TSV, and JSON
A powerful and expressive syntax for manipulating and reshaping data, using operations such as group-by, join, and pivot
Efficient and high-performance algorithms for working with large datasets, including support for distributed computing
Integration with popular data visualization libraries such as Matplotlib and Seaborn
Python datatable is designed to be easy to use and familiar to users of other data manipulation libraries such as Pandas, but offers improved performance and functionality for working with large datasets. It is a useful tool for data scientists, data analysts, and anyone working with large datasets in Python.

Below are steps on how to install and examples on how to use this library using the [Health Insurance Marketplace Dataset](https://www.kaggle.com/datasets/hhs/health-insurance-marketplace?select=Rate.csv)

**Installing the DataTable package**

In [ ]:
!pip install datatable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datatable
  Downloading datatable-1.0.0-cp38-cp38-manylinux_2_12_x86_64.whl (96.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 MB 9.9 MB/s eta 0:00:00
Installing collected packages: datatable
Successfully installed datatable-1.0.0

**Importing necessary libraries**

In [ ]:
import datatable as dt
import time
import numpy as np

**Downloading dataset from GDrive**

In [ ]:
# Pull dataset from my google drive - Mikhel
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
link = 'https://drive.google.com/file/d/1-NS-QGug5kxvTTE1ozW7NTtw3wSHODQj/view?usp=share_link'
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('Rate.csv')

**Reading dataset into DataTable DataFrame**

In [ ]:
start = time.time()
dt_df = dt.fread('Rate.csv')
end = time.time()
print(end - start)

18.081172227859497

**Viewing the dataset**

In [ ]:
dt_df.view()

**Print first five rows of the dataset**

In [ ]:
dt_df.head(5)

In [ ]:
dt_df.shape

(12694445, 24)

**NULL Values in dataset**

In [ ]:
count_null = dt_df.countna()
print(count_null)

   | BusinessYear  StateCode  IssuerId  SourceName  VersionNum  ImportDate  IssuerId2  FederalTIN  RateEffectiveDate  RateExpirationDate  …  PrimarySubscriberAndThreeOrMoreDependents  CoupleAndOneDependent  CoupleAndTwoDependents  CoupleAndThreeOrMoreDependents  RowNumber
   |        int64      int64     int64       int64       int64       int64      int64       int64              int64               int64                                         int64                  int64                   int64                           int64      int64
-- + ------------  ---------  --------  ----------  ----------  ----------  ---------  ----------  -----------------  ------------------     -----------------------------------------  ---------------------  ----------------------  ------------------------------  ---------
 0 |            0          0         0           0           0           0          0           0                  0                   0  …                                   12653504               12653504                12653504                        12653504          0
[1 row x 24 columns]

**Calculating mean for each numeric column**

In [ ]:
dt_df.mean()

**Printing first 10 column names**

In [ ]:
dt_df.names[:10]

('BusinessYear',
 'StateCode',
 'IssuerId',
 'SourceName',
 'VersionNum',
 'ImportDate',
 'IssuerId2',
 'FederalTIN',
 'RateEffectiveDate',
 'RateExpirationDate')

**Time taken in seconds to sort dataset by column "IssuerId"**

In [ ]:
start = time.time()
dt_df.sort("IssuerId")
end = time.time()
print(end - start)

0.1555774211883545

**Time taken in seconds to compare column values**

In [ ]:
start = time.time()
for i in range(100):
    dt_df[dt.f.PrimarySubscriberAndThreeOrMoreDependents>dt.mean(dt.f.PrimarySubscriberAndThreeOrMoreDependents), "PrimarySubscriberAndThreeOrMoreDependents"]
end = time.time()
print(end - start)

63.655515909194946

**Time taken in seconds to group by column "IssuerId"**

In [ ]:
start = time.time()
for i in range(100):
    dt_df[:, dt.sum(dt.f.PrimarySubscriberAndThreeOrMoreDependents), dt.by(dt.f.IssuerId)]
end = time.time()
print(end - start)

27.82197141647339