<a href="https://colab.research.google.com/github/drshahizan/Python-big-data/blob/main/assignment/ass6/hpdp/DoubleCheeseBurger/Assg6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Pick a Big Dataset

Steam reviews dataset from Kaggle : [UK Property Price data 1995-2023-04](https://www.kaggle.com/datasets/willianoliveiragibin/uk-property-price-data-1995-2023-04?select=202304.csv)

# 2. Loading the Dataset

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"shahutm","key":"f593a05711c1a19f9e41dcca66fe56c2"}'}

In [ ]:
!rm -r ~/.kaggle
!mkdir ~/.kaggle
!mv ./kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d willianoliveiragibin/uk-property-price-data-1995-2023-04

uk-property-price-data-1995-2023-04.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip /content/uk-property-price-data-1995-2023-04.zip

Archive:  /content/uk-property-price-data-1995-2023-04.zip
replace 202304.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 202304.csv

In [ ]:
import pandas as pd
import numpy as np

* we inititialize the dataset path and collar names here

In [ ]:
path = "/content/202304.csv"
colnames=['Transaction_unique_identifier', 'price', 'Date_of_Transfer',
'postcode', 'Property_Type', 'Old/New',
'Duration', 'PAON', 'SAON',
'Street', 'Locality', 'Town/City',
'District', 'County', 'PPDCategory_Type',
'Record_Status - monthly_file_only'
]

# 3. Strategies for Big Datasets

## 3.1. load less data

### 3.1.1 Load only the first 700000 rows

* to load less data, identify how much data you need first, and then input it using the code below

In [ ]:
data_needed = 700000
df_lessData1 = pd.read_csv(path, nrows = data_needed , names= colnames)
df_lessData1

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07 00:00,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03 00:00,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13 00:00,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28 00:00,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28 00:00,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,{D5D3D39A-9B45-4BC0-8A21-E78ECE031B9E},71500,1995-11-16 00:00,CM1 2SJ,S,N,F,14,NaN,RAVENSBOURNE DRIVE,CHELMSFORD,CHELMSFORD,CHELMSFORD,ESSEX,A,A
699996,{7A3D5C8C-0F83-4960-8B1D-E78ED7732B23},48000,1995-06-30 00:00,SO18 2GQ,S,N,F,103,NaN,KINGSDOWN WAY,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A
699997,{1597A482-B9D6-404D-B485-EB0A58CE7DC1},62000,1995-06-23 00:00,MK11 1JD,S,N,F,80,NaN,CLARENCE ROAD,STONY STRATFORD,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
699998,{C39C4822-751C-45C6-90D4-EB0A5E2E0A58},36995,1995-05-02 00:00,YO17 9RE,F,Y,L,3,NaN,STATION WAY,NORTON,MALTON,RYEDALE,NORTH YORKSHIRE,A,A
699999,{5FE59DE1-1692-439F-A3F0-EB0A6706F7EE},109000,1995-07-07 00:00,PO18 8PP,D,N,F,WILLOWS,NaN,DRIFT LANE,BOSHAM,CHICHESTER,CHICHESTER,WEST SUSSEX,A,A

### 3.1.2 Load the last 700000 rows of data

* the code above is used to load the first 700000 data
* if you need the last 700000, use the following codes, start by identifying total number of data and codes as the following

In [ ]:
total_rows = sum(1 for rows in open(path,'r'))
total_rows

28276228

In [ ]:
skip_rows = total_rows - 700000
nrows = 700000

df_lessData2 = pd.read_csv(path, skiprows=skip_rows, nrows=nrows, header=None, names=colnames)

In [ ]:
df_lessData2

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{EED73E76-0583-6AF3-E053-6C04A8C08ABA},345000,2022-10-07 00:00,OX28 5ES,T,N,F,86,NaN,TOWER HILL,NaN,WITNEY,WEST OXFORDSHIRE,OXFORDSHIRE,A,A
1,{EED73E76-0585-6AF3-E053-6C04A8C08ABA},460000,2022-10-04 00:00,OX13 6FS,D,N,F,14,NaN,PLANTATION AVENUE,MARCHAM,ABINGDON,VALE OF WHITE HORSE,OXFORDSHIRE,A,A
2,{EED73E76-0586-6AF3-E053-6C04A8C08ABA},228000,2022-09-15 00:00,OX5 2JR,F,N,L,1,NaN,BLENHEIM COURT,NaN,KIDLINGTON,CHERWELL,OXFORDSHIRE,A,A
3,{EED73E76-0588-6AF3-E053-6C04A8C08ABA},340000,2022-10-21 00:00,OX26 6GE,F,N,L,LINDEN LODGE,FLAT 12,LINDEN ROAD,NaN,BICESTER,CHERWELL,OXFORDSHIRE,A,A
4,{EED73E76-0589-6AF3-E053-6C04A8C08ABA},550000,2022-10-28 00:00,OX26 1BW,D,N,F,14,NaN,SEDGEFIELD,NaN,BICESTER,CHERWELL,OXFORDSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,{F3B6C198-17C3-6E40-E053-6C04A8C0B3B4},490000,2023-01-13 00:00,RM1 4SR,T,N,F,12,NaN,HEATHER GLEN,NaN,ROMFORD,HAVERING,GREATER LONDON,A,A
699996,{F3B6C198-17C9-6E40-E053-6C04A8C0B3B4},365000,2023-01-10 00:00,SS2 4UA,F,N,L,"CENTENARY PLACE, 1",FLAT 22,SOUTHCHURCH BOULEVARD,NaN,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,A,A
699997,{F3B6C198-17D8-6E40-E053-6C04A8C0B3B4},730000,2023-01-05 00:00,CO13 0EY,S,N,F,HIGH VIEW,NaN,LITTLE CLACTON ROAD,GREAT HOLLAND,FRINTON-ON-SEA,TENDRING,ESSEX,A,A
699998,{F3B6C198-1807-6E40-E053-6C04A8C0B3B4},379000,2023-01-06 00:00,CO15 5NA,D,N,F,12,NaN,DULWICH ROAD,HOLLAND-ON-SEA,CLACTON-ON-SEA,TENDRING,ESSEX,A,A
699999,{F3B6C198-182F-6E40-E053-6C04A8C0B3B4},450000,2023-01-05 00:00,CO7 7PZ,D,N,F,21,NaN,INGRAMS PIECE,ARDLEIGH,COLCHESTER,TENDRING,ESSEX,A,A

## 3.2. chunking

 Chunking involves reading data in smaller portions, or 'chunks', instead of loading the entire dataset at once.

 The Chunking process involves seperating data into smaller portionm, knows as chunks an it  will be repeated until the entire dataset has been splitted into chunks

 * the first step involves identifying how many data needed in a chunk, or chunk size
 * second, use he code below to start chunking

In [ ]:
import csv
import sys

chunk_size = 700000
num = 1
csv.field_size_limit(sys.maxsize)

with open(path) as file_obj :
    reader = csv.reader(file_obj)
    header = colnames

    while True :
      rows = [header]
      for _ in range(chunk_size):
        rows.append(next(reader))
        if len(rows) == 1:
          break;

      chunk_name = f'chunk{num}.csv'
      with open(chunk_name , 'w') as write_chunk:
        csv_writer = csv.writer(write_chunk)
        csv_writer.writerows(rows)
        num += 1

StopIteration: ignored

* the code above wil separate the entire dataset into chunks
* to view the data in each chunks, use the following code

In [ ]:
chunk_path = '/content/chunk31.csv'
df_chunk = pd.read_csv(chunk_path)
df_chunk.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction_unique_identifier      700000 non-null  object
 1   price                              700000 non-null  int64
 2   Date_of_Transfer                   700000 non-null  object
 3   postcode                           696875 non-null  object
 4   Property_Type                      700000 non-null  object
 5   Old/New                            700000 non-null  object
 6   Duration                           700000 non-null  object
 7   PAON                               700000 non-null  object
 8   SAON                               109398 non-null  object
 9   Street                             688042 non-null  object
 10  Locality                           256376 non-null  object
 11  Town/City                          700000 non-null  object
 12  District                           700000 non-null  object
 13  County                             700000 non-null  object
 14  PPDCategory_Type                   700000 non-null  object
 15  Record_Status - monthly_file_only  700000 non-null  object
dtypes: int64(1), object(15)
memory usage: 631.1 MB

In [ ]:
df_chunk

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{25EA59F9-6E96-4D50-E050-A8C0630562D0},240000,2015-08-06 00:00,SL3 7UU,F,Y,L,"FISHER PLACE, 21",FLAT 1,KINGS REACH,NaN,SLOUGH,SLOUGH,SLOUGH,A,A
1,{25EA59F9-6E97-4D50-E050-A8C0630562D0},459995,2015-06-26 00:00,RG40 1GN,S,Y,F,40,NaN,WINDSOR CRESCENT,NaN,WOKINGHAM,WOKINGHAM,WOKINGHAM,A,A
2,{25EA59F9-6E98-4D50-E050-A8C0630562D0},224995,2015-04-14 00:00,RG2 0NX,F,Y,L,CYGNET HOUSE,FLAT 12,DRAKE WAY,NaN,READING,READING,READING,A,A
3,{25EA59F9-6E99-4D50-E050-A8C0630562D0},569995,2015-06-30 00:00,RG40 1RB,D,Y,F,249,NaN,LONDON ROAD,NaN,WOKINGHAM,WOKINGHAM,WOKINGHAM,A,A
4,{25EA59F9-708E-4D50-E050-A8C0630562D0},160000,2015-11-09 00:00,BS5 8BP,T,N,F,85,NaN,TROOPERS HILL ROAD,NaN,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,{34428D7E-6E4F-B86C-E050-A8C06205059C},385000,2016-04-12 00:00,SE2 0XE,T,N,F,7,NaN,ROCHDALE ROAD,NaN,LONDON,GREENWICH,GREATER LONDON,A,A
699996,{34428D7E-6E50-B86C-E050-A8C06205059C},665000,2016-04-22 00:00,TW9 1AX,F,N,L,LICHFIELD COURT,94,SHEEN ROAD,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A
699997,{34428D7E-6E51-B86C-E050-A8C06205059C},375550,2016-04-06 00:00,KT4 8PR,T,N,F,15,NaN,CONRAD DRIVE,NaN,WORCESTER PARK,SUTTON,GREATER LONDON,A,A
699998,{34428D7E-6E52-B86C-E050-A8C06205059C},580000,2016-04-22 00:00,TW9 1AU,F,N,L,LICHFIELD COURT,48,SHEEN ROAD,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A
699999,{34428D7E-6E53-B86C-E050-A8C06205059C},450000,2016-03-30 00:00,CR0 2TP,T,N,F,4,NaN,HATHAWAY ROAD,NaN,CROYDON,CROYDON,GREATER LONDON,A,A

## 3.3. Data type optimization

Data type optimization is the process of changing one data type into its smaller form

example : int64 is the largest integer datatypes,therfore it can be change into smaller version such as int32, int16 or int8

we reduce the data type size to reduce memory and ram usage.

* The following codes shows the memory usage for 100000 rows of data before data type optimization

In [ ]:
df_optimize = pd.read_csv(path, nrows = 100000, header=None, names=colnames)
df_optimize.info(memory_usage='deep')
df_optimize

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction_unique_identifier      100000 non-null  object
 1   price                              100000 non-null  int64
 2   Date_of_Transfer                   100000 non-null  object
 3   postcode                           99933 non-null   object
 4   Property_Type                      100000 non-null  object
 5   Old/New                            100000 non-null  object
 6   Duration                           100000 non-null  object
 7   PAON                               99995 non-null   object
 8   SAON                               7563 non-null    object
 9   Street                             98460 non-null   object
 10  Locality                           97629 non-null   object
 11  Town/City                          100000 non-null  object
 12  District                           100000 non-null  object
 13  County                             100000 non-null  object
 14  PPDCategory_Type                   100000 non-null  object
 15  Record_Status - monthly_file_only  100000 non-null  object
dtypes: int64(1), object(15)
memory usage: 91.6 MB

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07 00:00,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03 00:00,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13 00:00,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28 00:00,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28 00:00,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,{ACC75E4B-539B-4F05-8065-AFA7D059DDC2},52000,1995-10-02 00:00,L18 3HZ,F,N,L,CALDER PARK COURT,2,CALDERSTONES ROAD,LIVERPOOL,LIVERPOOL,LIVERPOOL,MERSEYSIDE,A,A
99996,{E1371E73-CA4F-48BE-A1BD-B3387BF9CB36},25000,1995-02-22 00:00,ST6 4BJ,T,N,F,24,NaN,RILEY STREET NORTH,STOKE-ON-TRENT,STOKE-ON-TRENT,STOKE-ON-TRENT,STOKE-ON-TRENT,A,A
99997,{DEB22CD4-3194-45DF-AAC9-B3388160301F},62499,1995-08-03 00:00,RG2 7RE,S,N,F,22,NaN,KINGSBRIDGE ROAD,READING,READING,READING,READING,A,A
99998,{7CBB30CA-453E-435A-ADD8-B3388D31ACAD},55000,1995-07-21 00:00,SS2 6LT,D,N,F,45,NaN,TUNBRIDGE ROAD,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,A,A
99999,{CF9CE5D9-304E-4EA8-898C-A88B4B2445EF},82500,1995-09-18 00:00,GL19 3SJ,D,N,F,HARKAWAY,NaN,PARSONS LANE,REDMARLEY,GLOUCESTER,FOREST OF DEAN,GLOUCESTERSHIRE,A,A

* As you can see, the data used 91.6 MB of memory with 1 field containing int64 datatype
<br><br>
* To change the datatype, use the following codes

In [ ]:
for column in df_optimize:
  if df_optimize[column].dtype == 'float64':
    df_optimize[column]=pd.to_numeric(df_optimize[column], downcast='float')
  if df_optimize[column].dtype == 'int64':
    df_optimize[column]=pd.to_numeric(df_optimize[column], downcast='integer')

* check the memory usage again

In [ ]:
df_optimize.info(memory_usage ='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction_unique_identifier      100000 non-null  object
 1   price                              100000 non-null  int32
 2   Date_of_Transfer                   100000 non-null  object
 3   postcode                           99933 non-null   object
 4   Property_Type                      100000 non-null  object
 5   Old/New                            100000 non-null  object
 6   Duration                           100000 non-null  object
 7   PAON                               99995 non-null   object
 8   SAON                               7563 non-null    object
 9   Street                             98460 non-null   object
 10  Locality                           97629 non-null   object
 11  Town/City                          100000 non-null  object
 12  District                           100000 non-null  object
 13  County                             100000 non-null  object
 14  PPDCategory_Type                   100000 non-null  object
 15  Record_Status - monthly_file_only  100000 non-null  object
dtypes: int32(1), object(15)
memory usage: 91.2 MB

* as you can see, the memory usage has been reduce to 91.2 MB

## 3.4. sampling

Sampling is the process of choosing random samples from the entire dataset based on specific size.

* to use sampling, first, decide on how much sample you need
* then use the following code to sample data

In [ ]:
sample_num = 100000
df_sample = pd.read_csv(chunk_path).sample(n = sample_num)
df_sample

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
508278,{42A5A709-377F-56E8-E050-A8C06205331E},192000,2016-10-28 00:00,PO13 0DU,T,N,F,39,NaN,THE LINKS,ROWNER,GOSPORT,GOSPORT,HAMPSHIRE,A,A
477484,{2FD36066-31EF-4BF8-E050-A8C0620562B1},95000,2016-03-18 00:00,WV12 5LA,S,N,F,91,NaN,BRERETON ROAD,NaN,WILLENHALL,WALSALL,WEST MIDLANDS,A,A
341811,{47844C80-9138-8986-E050-A8C063056488},65000,2016-12-21 00:00,BD12 9QH,T,N,F,69,NaN,CLAY HILL DRIVE,WYKE,BRADFORD,BRADFORD,WEST YORKSHIRE,B,A
111846,{3B7E0B8F-EC3F-EA99-E050-A8C062057E77},186000,2016-08-03 00:00,RG29 1JZ,F,N,L,16,NaN,PALACE GATE,ODIHAM,HOOK,HART,HAMPSHIRE,A,A
129328,{3B7E0B8F-8D3B-EA99-E050-A8C062057E77},230000,2016-07-22 00:00,TS17 5GP,D,N,F,14,NaN,BOWOOD CLOSE,INGLEBY BARWICK,STOCKTON-ON-TEES,STOCKTON-ON-TEES,STOCKTON-ON-TEES,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523715,{31FB4C17-40B8-57B9-E050-A8C063053436},303000,2016-03-16 00:00,CO9 2BH,D,N,F,7,NaN,MORTON WAY,NaN,HALSTEAD,BRAINTREE,ESSEX,A,A
313130,{47844C80-5871-8986-E050-A8C063056488},114000,2016-12-16 00:00,S6 1JP,T,N,F,18,NaN,FARNLEY AVENUE,NaN,SHEFFIELD,SHEFFIELD,SOUTH YORKSHIRE,A,A
471862,{47844C7F-9044-8986-E050-A8C063056488},108500,2016-12-19 00:00,PL5 1AS,T,N,F,50,NaN,JACKSON CLOSE,NaN,PLYMOUTH,CITY OF PLYMOUTH,CITY OF PLYMOUTH,A,A
218992,{404A5AF3-A610-CD2B-E050-A8C063055C7B},120000,2016-09-30 00:00,FY5 4PL,S,N,F,129,NaN,LAWSONS ROAD,NaN,THORNTON-CLEVELEYS,WYRE,LANCASHIRE,A,A
204176,{404A5AF3-C09C-CD2B-E050-A8C063055C7B},785000,2016-09-23 00:00,CH48 1LH,D,N,F,56,NaN,COLUMN ROAD,NaN,WIRRAL,WIRRAL,MERSEYSIDE,A,A

## 3.5. Parallelize with Dask

**Why use Dask?** <br>
Dask is a powerful and flexible parallel computing library in Python designed to handle big data processing.<br> Dask breaks down large computations into smaller tasks, which can be executed in parallel. This parallelism enhances the performance of data processing tasks, enabling faster execution times for big data workflows

In [ ]:
!pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.10/dist-packages (2023.8.1)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from dask) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.10/dist-packages (from dask) (2023.6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask) (23.2)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask) (7.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask) (3.17.0)
Requirement already satisfied: locket in /usr/local/lib/python3.10/dist-packages (from partd>=1.2.0->dask) (1.0.0)

* Install Dask library into workspace

In [ ]:
import dask.dataframe as dd

* Import Dask dataframe

In [ ]:
col_type = {'PAON': 'object', 'SAON': 'object'}
dask_df = dd.read_csv(path, header=None, names=colnames, dtype=col_type)
dask_df

Dask DataFrame Structure:
               Transaction_unique_identifier  price Date_of_Transfer postcode Property_Type Old/New Duration    PAON    SAON  Street Locality Town/City District  County PPDCategory_Type Record_Status - monthly_file_only
npartitions=77
                                      object  int64           object   object        object  object   object  object  object  object   object    object   object  object           object                            object
                                         ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...              ...                               ...
...                                      ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...              ...                               ...
                                         ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...              ...                               ...
                                         ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...              ...                               ...
Dask Name: read-csv, 1 graph layer

* Read data using Dask

# 4. Steps for Using These Strategies

Each of the step of the strategies used are written directly under their respective code cells

# 5. Comparative Analysis

* Comparative analysis are done by comparing the time needed by each dataframe methods to execute a task

a.  Comparing 'head( )' execution time

In [ ]:
%time df_lessData1.head()

CPU times: user 322 µs, sys: 0 ns, total: 322 µs
Wall time: 330 µs

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A

In [ ]:
%time df_chunk.head()

CPU times: user 312 µs, sys: 0 ns, total: 312 µs
Wall time: 323 µs

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{25EA59F9-6E96-4D50-E050-A8C0630562D0},240000,2015-08-06,SL3 7UU,F,Y,L,"FISHER PLACE, 21",FLAT 1,KINGS REACH,NaN,SLOUGH,SLOUGH,SLOUGH,A,A
1,{25EA59F9-6E97-4D50-E050-A8C0630562D0},459995,2015-06-26,RG40 1GN,S,Y,F,40,NaN,WINDSOR CRESCENT,NaN,WOKINGHAM,WOKINGHAM,WOKINGHAM,A,A
2,{25EA59F9-6E98-4D50-E050-A8C0630562D0},224995,2015-04-14,RG2 0NX,F,Y,L,CYGNET HOUSE,FLAT 12,DRAKE WAY,NaN,READING,READING,READING,A,A
3,{25EA59F9-6E99-4D50-E050-A8C0630562D0},569995,2015-06-30,RG40 1RB,D,Y,F,249,NaN,LONDON ROAD,NaN,WOKINGHAM,WOKINGHAM,WOKINGHAM,A,A
4,{25EA59F9-708E-4D50-E050-A8C0630562D0},160000,2015-11-09,BS5 8BP,T,N,F,85,NaN,TROOPERS HILL ROAD,NaN,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A

In [ ]:
%time df_optimize.head()

CPU times: user 254 µs, sys: 27 µs, total: 281 µs
Wall time: 290 µs

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A

In [ ]:
%time df_sample.head()

CPU times: user 247 µs, sys: 25 µs, total: 272 µs
Wall time: 281 µs

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
508278,{42A5A709-377F-56E8-E050-A8C06205331E},192000,2016-10-28,PO13 0DU,T,N,F,39,NaN,THE LINKS,ROWNER,GOSPORT,GOSPORT,HAMPSHIRE,A,A
477484,{2FD36066-31EF-4BF8-E050-A8C0620562B1},95000,2016-03-18,WV12 5LA,S,N,F,91,NaN,BRERETON ROAD,NaN,WILLENHALL,WALSALL,WEST MIDLANDS,A,A
341811,{47844C80-9138-8986-E050-A8C063056488},65000,2016-12-21,BD12 9QH,T,N,F,69,NaN,CLAY HILL DRIVE,WYKE,BRADFORD,BRADFORD,WEST YORKSHIRE,B,A
111846,{3B7E0B8F-EC3F-EA99-E050-A8C062057E77},186000,2016-08-03,RG29 1JZ,F,N,L,16,NaN,PALACE GATE,ODIHAM,HOOK,HART,HAMPSHIRE,A,A
129328,{3B7E0B8F-8D3B-EA99-E050-A8C062057E77},230000,2016-07-22,TS17 5GP,D,N,F,14,NaN,BOWOOD CLOSE,INGLEBY BARWICK,STOCKTON-ON-TEES,STOCKTON-ON-TEES,STOCKTON-ON-TEES,A,A

In [ ]:
%time dask_df.head()

CPU times: user 1.36 s, sys: 588 ms, total: 1.95 s
Wall time: 1.98 s

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A

b.  Comparing 'tail( )' execution time

In [ ]:
%time df_lessData1.tail()

CPU times: user 182 µs, sys: 1.03 ms, total: 1.21 ms
Wall time: 1.23 ms

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
699995,{D5D3D39A-9B45-4BC0-8A21-E78ECE031B9E},71500,1995-11-16,CM1 2SJ,S,N,F,14,NaN,RAVENSBOURNE DRIVE,CHELMSFORD,CHELMSFORD,CHELMSFORD,ESSEX,A,A
699996,{7A3D5C8C-0F83-4960-8B1D-E78ED7732B23},48000,1995-06-30,SO18 2GQ,S,N,F,103,NaN,KINGSDOWN WAY,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A
699997,{1597A482-B9D6-404D-B485-EB0A58CE7DC1},62000,1995-06-23,MK11 1JD,S,N,F,80,NaN,CLARENCE ROAD,STONY STRATFORD,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
699998,{C39C4822-751C-45C6-90D4-EB0A5E2E0A58},36995,1995-05-02,YO17 9RE,F,Y,L,3,NaN,STATION WAY,NORTON,MALTON,RYEDALE,NORTH YORKSHIRE,A,A
699999,{5FE59DE1-1692-439F-A3F0-EB0A6706F7EE},109000,1995-07-07,PO18 8PP,D,N,F,WILLOWS,NaN,DRIFT LANE,BOSHAM,CHICHESTER,CHICHESTER,WEST SUSSEX,A,A

In [ ]:
%time df_chunk.tail()

CPU times: user 282 µs, sys: 30 µs, total: 312 µs
Wall time: 322 µs

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
699995,{34428D7E-6E4F-B86C-E050-A8C06205059C},385000,2016-04-12,SE2 0XE,T,N,F,7,NaN,ROCHDALE ROAD,NaN,LONDON,GREENWICH,GREATER LONDON,A,A
699996,{34428D7E-6E50-B86C-E050-A8C06205059C},665000,2016-04-22,TW9 1AX,F,N,L,LICHFIELD COURT,94,SHEEN ROAD,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A
699997,{34428D7E-6E51-B86C-E050-A8C06205059C},375550,2016-04-06,KT4 8PR,T,N,F,15,NaN,CONRAD DRIVE,NaN,WORCESTER PARK,SUTTON,GREATER LONDON,A,A
699998,{34428D7E-6E52-B86C-E050-A8C06205059C},580000,2016-04-22,TW9 1AU,F,N,L,LICHFIELD COURT,48,SHEEN ROAD,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A
699999,{34428D7E-6E53-B86C-E050-A8C06205059C},450000,2016-03-30,CR0 2TP,T,N,F,4,NaN,HATHAWAY ROAD,NaN,CROYDON,CROYDON,GREATER LONDON,A,A

In [ ]:
%time df_optimize.tail()

CPU times: user 320 µs, sys: 0 ns, total: 320 µs
Wall time: 686 µs

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
99995,{ACC75E4B-539B-4F05-8065-AFA7D059DDC2},52000,1995-10-02,L18 3HZ,F,N,L,CALDER PARK COURT,2,CALDERSTONES ROAD,LIVERPOOL,LIVERPOOL,LIVERPOOL,MERSEYSIDE,A,A
99996,{E1371E73-CA4F-48BE-A1BD-B3387BF9CB36},25000,1995-02-22,ST6 4BJ,T,N,F,24,NaN,RILEY STREET NORTH,STOKE-ON-TRENT,STOKE-ON-TRENT,STOKE-ON-TRENT,STOKE-ON-TRENT,A,A
99997,{DEB22CD4-3194-45DF-AAC9-B3388160301F},62499,1995-08-03,RG2 7RE,S,N,F,22,NaN,KINGSBRIDGE ROAD,READING,READING,READING,READING,A,A
99998,{7CBB30CA-453E-435A-ADD8-B3388D31ACAD},55000,1995-07-21,SS2 6LT,D,N,F,45,NaN,TUNBRIDGE ROAD,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,A,A
99999,{CF9CE5D9-304E-4EA8-898C-A88B4B2445EF},82500,1995-09-18,GL19 3SJ,D,N,F,HARKAWAY,NaN,PARSONS LANE,REDMARLEY,GLOUCESTER,FOREST OF DEAN,GLOUCESTERSHIRE,A,A

In [ ]:
%time df_sample.tail()

CPU times: user 255 µs, sys: 27 µs, total: 282 µs
Wall time: 291 µs

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
523715,{31FB4C17-40B8-57B9-E050-A8C063053436},303000,2016-03-16,CO9 2BH,D,N,F,7,NaN,MORTON WAY,NaN,HALSTEAD,BRAINTREE,ESSEX,A,A
313130,{47844C80-5871-8986-E050-A8C063056488},114000,2016-12-16,S6 1JP,T,N,F,18,NaN,FARNLEY AVENUE,NaN,SHEFFIELD,SHEFFIELD,SOUTH YORKSHIRE,A,A
471862,{47844C7F-9044-8986-E050-A8C063056488},108500,2016-12-19,PL5 1AS,T,N,F,50,NaN,JACKSON CLOSE,NaN,PLYMOUTH,CITY OF PLYMOUTH,CITY OF PLYMOUTH,A,A
218992,{404A5AF3-A610-CD2B-E050-A8C063055C7B},120000,2016-09-30,FY5 4PL,S,N,F,129,NaN,LAWSONS ROAD,NaN,THORNTON-CLEVELEYS,WYRE,LANCASHIRE,A,A
204176,{404A5AF3-C09C-CD2B-E050-A8C063055C7B},785000,2016-09-23,CH48 1LH,D,N,F,56,NaN,COLUMN ROAD,NaN,WIRRAL,WIRRAL,MERSEYSIDE,A,A

In [ ]:
%time dask_df.tail()

CPU times: user 1.61 s, sys: 580 ms, total: 2.19 s
Wall time: 2.29 s

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
369230,{F3B6C198-17C3-6E40-E053-6C04A8C0B3B4},490000,2023-01-13,RM1 4SR,T,N,F,12,NaN,HEATHER GLEN,NaN,ROMFORD,HAVERING,GREATER LONDON,A,A
369231,{F3B6C198-17C9-6E40-E053-6C04A8C0B3B4},365000,2023-01-10,SS2 4UA,F,N,L,"CENTENARY PLACE, 1",FLAT 22,SOUTHCHURCH BOULEVARD,NaN,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,A,A
369232,{F3B6C198-17D8-6E40-E053-6C04A8C0B3B4},730000,2023-01-05,CO13 0EY,S,N,F,HIGH VIEW,NaN,LITTLE CLACTON ROAD,GREAT HOLLAND,FRINTON-ON-SEA,TENDRING,ESSEX,A,A
369233,{F3B6C198-1807-6E40-E053-6C04A8C0B3B4},379000,2023-01-06,CO15 5NA,D,N,F,12,NaN,DULWICH ROAD,HOLLAND-ON-SEA,CLACTON-ON-SEA,TENDRING,ESSEX,A,A
369234,{F3B6C198-182F-6E40-E053-6C04A8C0B3B4},450000,2023-01-05,CO7 7PZ,D,N,F,21,NaN,INGRAMS PIECE,ARDLEIGH,COLCHESTER,TENDRING,ESSEX,A,A

c.  Comparing 'drop_duplicates( )' execution time

In [ ]:
%time df_lessData1.drop_duplicates()

CPU times: user 2.16 s, sys: 223 ms, total: 2.39 s
Wall time: 2.49 s

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,{D5D3D39A-9B45-4BC0-8A21-E78ECE031B9E},71500,1995-11-16,CM1 2SJ,S,N,F,14,NaN,RAVENSBOURNE DRIVE,CHELMSFORD,CHELMSFORD,CHELMSFORD,ESSEX,A,A
699996,{7A3D5C8C-0F83-4960-8B1D-E78ED7732B23},48000,1995-06-30,SO18 2GQ,S,N,F,103,NaN,KINGSDOWN WAY,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A
699997,{1597A482-B9D6-404D-B485-EB0A58CE7DC1},62000,1995-06-23,MK11 1JD,S,N,F,80,NaN,CLARENCE ROAD,STONY STRATFORD,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
699998,{C39C4822-751C-45C6-90D4-EB0A5E2E0A58},36995,1995-05-02,YO17 9RE,F,Y,L,3,NaN,STATION WAY,NORTON,MALTON,RYEDALE,NORTH YORKSHIRE,A,A
699999,{5FE59DE1-1692-439F-A3F0-EB0A6706F7EE},109000,1995-07-07,PO18 8PP,D,N,F,WILLOWS,NaN,DRIFT LANE,BOSHAM,CHICHESTER,CHICHESTER,WEST SUSSEX,A,A

In [ ]:
%time df_chunk.drop_duplicates()

CPU times: user 1.48 s, sys: 220 ms, total: 1.7 s
Wall time: 1.7 s

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{25EA59F9-6E96-4D50-E050-A8C0630562D0},240000,2015-08-06,SL3 7UU,F,Y,L,"FISHER PLACE, 21",FLAT 1,KINGS REACH,NaN,SLOUGH,SLOUGH,SLOUGH,A,A
1,{25EA59F9-6E97-4D50-E050-A8C0630562D0},459995,2015-06-26,RG40 1GN,S,Y,F,40,NaN,WINDSOR CRESCENT,NaN,WOKINGHAM,WOKINGHAM,WOKINGHAM,A,A
2,{25EA59F9-6E98-4D50-E050-A8C0630562D0},224995,2015-04-14,RG2 0NX,F,Y,L,CYGNET HOUSE,FLAT 12,DRAKE WAY,NaN,READING,READING,READING,A,A
3,{25EA59F9-6E99-4D50-E050-A8C0630562D0},569995,2015-06-30,RG40 1RB,D,Y,F,249,NaN,LONDON ROAD,NaN,WOKINGHAM,WOKINGHAM,WOKINGHAM,A,A
4,{25EA59F9-708E-4D50-E050-A8C0630562D0},160000,2015-11-09,BS5 8BP,T,N,F,85,NaN,TROOPERS HILL ROAD,NaN,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,{34428D7E-6E4F-B86C-E050-A8C06205059C},385000,2016-04-12,SE2 0XE,T,N,F,7,NaN,ROCHDALE ROAD,NaN,LONDON,GREENWICH,GREATER LONDON,A,A
699996,{34428D7E-6E50-B86C-E050-A8C06205059C},665000,2016-04-22,TW9 1AX,F,N,L,LICHFIELD COURT,94,SHEEN ROAD,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A
699997,{34428D7E-6E51-B86C-E050-A8C06205059C},375550,2016-04-06,KT4 8PR,T,N,F,15,NaN,CONRAD DRIVE,NaN,WORCESTER PARK,SUTTON,GREATER LONDON,A,A
699998,{34428D7E-6E52-B86C-E050-A8C06205059C},580000,2016-04-22,TW9 1AU,F,N,L,LICHFIELD COURT,48,SHEEN ROAD,NaN,RICHMOND,RICHMOND UPON THAMES,GREATER LONDON,A,A
699999,{34428D7E-6E53-B86C-E050-A8C06205059C},450000,2016-03-30,CR0 2TP,T,N,F,4,NaN,HATHAWAY ROAD,NaN,CROYDON,CROYDON,GREATER LONDON,A,A

In [ ]:
%time df_optimize.drop_duplicates()

CPU times: user 187 ms, sys: 9.84 ms, total: 196 ms
Wall time: 201 ms

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,{ACC75E4B-539B-4F05-8065-AFA7D059DDC2},52000,1995-10-02,L18 3HZ,F,N,L,CALDER PARK COURT,2,CALDERSTONES ROAD,LIVERPOOL,LIVERPOOL,LIVERPOOL,MERSEYSIDE,A,A
99996,{E1371E73-CA4F-48BE-A1BD-B3387BF9CB36},25000,1995-02-22,ST6 4BJ,T,N,F,24,NaN,RILEY STREET NORTH,STOKE-ON-TRENT,STOKE-ON-TRENT,STOKE-ON-TRENT,STOKE-ON-TRENT,A,A
99997,{DEB22CD4-3194-45DF-AAC9-B3388160301F},62499,1995-08-03,RG2 7RE,S,N,F,22,NaN,KINGSBRIDGE ROAD,READING,READING,READING,READING,A,A
99998,{7CBB30CA-453E-435A-ADD8-B3388D31ACAD},55000,1995-07-21,SS2 6LT,D,N,F,45,NaN,TUNBRIDGE ROAD,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,SOUTHEND-ON-SEA,A,A
99999,{CF9CE5D9-304E-4EA8-898C-A88B4B2445EF},82500,1995-09-18,GL19 3SJ,D,N,F,HARKAWAY,NaN,PARSONS LANE,REDMARLEY,GLOUCESTER,FOREST OF DEAN,GLOUCESTERSHIRE,A,A

In [ ]:
%time df_sample.drop_duplicates()

CPU times: user 292 ms, sys: 5.73 ms, total: 298 ms
Wall time: 297 ms

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
508278,{42A5A709-377F-56E8-E050-A8C06205331E},192000,2016-10-28,PO13 0DU,T,N,F,39,NaN,THE LINKS,ROWNER,GOSPORT,GOSPORT,HAMPSHIRE,A,A
477484,{2FD36066-31EF-4BF8-E050-A8C0620562B1},95000,2016-03-18,WV12 5LA,S,N,F,91,NaN,BRERETON ROAD,NaN,WILLENHALL,WALSALL,WEST MIDLANDS,A,A
341811,{47844C80-9138-8986-E050-A8C063056488},65000,2016-12-21,BD12 9QH,T,N,F,69,NaN,CLAY HILL DRIVE,WYKE,BRADFORD,BRADFORD,WEST YORKSHIRE,B,A
111846,{3B7E0B8F-EC3F-EA99-E050-A8C062057E77},186000,2016-08-03,RG29 1JZ,F,N,L,16,NaN,PALACE GATE,ODIHAM,HOOK,HART,HAMPSHIRE,A,A
129328,{3B7E0B8F-8D3B-EA99-E050-A8C062057E77},230000,2016-07-22,TS17 5GP,D,N,F,14,NaN,BOWOOD CLOSE,INGLEBY BARWICK,STOCKTON-ON-TEES,STOCKTON-ON-TEES,STOCKTON-ON-TEES,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523715,{31FB4C17-40B8-57B9-E050-A8C063053436},303000,2016-03-16,CO9 2BH,D,N,F,7,NaN,MORTON WAY,NaN,HALSTEAD,BRAINTREE,ESSEX,A,A
313130,{47844C80-5871-8986-E050-A8C063056488},114000,2016-12-16,S6 1JP,T,N,F,18,NaN,FARNLEY AVENUE,NaN,SHEFFIELD,SHEFFIELD,SOUTH YORKSHIRE,A,A
471862,{47844C7F-9044-8986-E050-A8C063056488},108500,2016-12-19,PL5 1AS,T,N,F,50,NaN,JACKSON CLOSE,NaN,PLYMOUTH,CITY OF PLYMOUTH,CITY OF PLYMOUTH,A,A
218992,{404A5AF3-A610-CD2B-E050-A8C063055C7B},120000,2016-09-30,FY5 4PL,S,N,F,129,NaN,LAWSONS ROAD,NaN,THORNTON-CLEVELEYS,WYRE,LANCASHIRE,A,A
204176,{404A5AF3-C09C-CD2B-E050-A8C063055C7B},785000,2016-09-23,CH48 1LH,D,N,F,56,NaN,COLUMN ROAD,NaN,WIRRAL,WIRRAL,MERSEYSIDE,A,A

In [ ]:
%time dask_df.drop_duplicates()

CPU times: user 8.2 ms, sys: 799 µs, total: 9 ms
Wall time: 17.5 ms

Dask DataFrame Structure:
              Transaction_unique_identifier  price Date_of_Transfer postcode Property_Type Old/New Duration    PAON    SAON  Street Locality Town/City District  County PPDCategory_Type Record_Status - monthly_file_only
npartitions=1
                                     object  int64   datetime64[ns]   object        object  object   object  object  object  object   object    object   object  object           object                            object
                                        ...    ...              ...      ...           ...     ...      ...     ...     ...     ...      ...       ...      ...     ...              ...                               ...
Dask Name: drop-duplicates-agg, 6 graph layers

d.  Comparing 'object to date' execution time

In [ ]:
%time df_lessData1['Date_of_Transfer'] = pd.to_datetime(df_lessData1['Date_of_Transfer'], format='%Y-%m-%d')

CPU times: user 25 ms, sys: 0 ns, total: 25 ms
Wall time: 29.4 ms

In [ ]:
%time df_chunk['Date_of_Transfer'] = pd.to_datetime(df_chunk['Date_of_Transfer'], format='%Y-%m-%d')

CPU times: user 33.3 ms, sys: 4.98 ms, total: 38.3 ms
Wall time: 36.1 ms

In [ ]:
%time df_optimize['Date_of_Transfer'] = pd.to_datetime(df_optimize['Date_of_Transfer'], format='%Y-%m-%d')

CPU times: user 16.6 ms, sys: 50 µs, total: 16.7 ms
Wall time: 18.4 ms

In [ ]:
%time df_sample['Date_of_Transfer'] = pd.to_datetime(df_sample['Date_of_Transfer'], format='%Y-%m-%d')

CPU times: user 15.2 ms, sys: 833 µs, total: 16 ms
Wall time: 16.6 ms

In [ ]:
%time dask_df['Date_of_Transfer'] = dd.to_datetime(dask_df['Date_of_Transfer'], errors='coerce')

CPU times: user 10.9 ms, sys: 83 µs, total: 11 ms
Wall time: 10.8 ms

e.  Comparing 'info( )' execution time

In [ ]:
%time df_lessData1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction_unique_identifier      700000 non-null  object
 1   price                              700000 non-null  int64
 2   Date_of_Transfer                   700000 non-null  datetime64[ns]
 3   postcode                           699490 non-null  object
 4   Property_Type                      700000 non-null  object
 5   Old/New                            700000 non-null  object
 6   Duration                           700000 non-null  object
 7   PAON                               699978 non-null  object
 8   SAON                               55686 non-null   object
 9   Street                             688931 non-null  object
 10  Locality                           676800 non-null  object
 11  Town/City                          700000 non-null  object
 12  District                           700000 non-null  object
 13  County                             700000 non-null  object
 14  PPDCategory_Type                   700000 non-null  object
 15  Record_Status - monthly_file_only  700000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 85.4+ MB
CPU times: user 1.57 s, sys: 21.3 ms, total: 1.6 s
Wall time: 1.67 s

In [ ]:
%time df_chunk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction_unique_identifier      700000 non-null  object
 1   price                              700000 non-null  int64
 2   Date_of_Transfer                   700000 non-null  datetime64[ns]
 3   postcode                           696875 non-null  object
 4   Property_Type                      700000 non-null  object
 5   Old/New                            700000 non-null  object
 6   Duration                           700000 non-null  object
 7   PAON                               700000 non-null  object
 8   SAON                               109398 non-null  object
 9   Street                             688042 non-null  object
 10  Locality                           256376 non-null  object
 11  Town/City                          700000 non-null  object
 12  District                           700000 non-null  object
 13  County                             700000 non-null  object
 14  PPDCategory_Type                   700000 non-null  object
 15  Record_Status - monthly_file_only  700000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 85.4+ MB
CPU times: user 1.55 s, sys: 9.96 ms, total: 1.56 s
Wall time: 1.58 s

In [ ]:
%time df_optimize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction_unique_identifier      100000 non-null  object
 1   price                              100000 non-null  int32
 2   Date_of_Transfer                   100000 non-null  datetime64[ns]
 3   postcode                           99933 non-null   object
 4   Property_Type                      100000 non-null  object
 5   Old/New                            100000 non-null  object
 6   Duration                           100000 non-null  object
 7   PAON                               99995 non-null   object
 8   SAON                               7563 non-null    object
 9   Street                             98460 non-null   object
 10  Locality                           97629 non-null   object
 11  Town/City                          100000 non-null  object
 12  District                           100000 non-null  object
 13  County                             100000 non-null  object
 14  PPDCategory_Type                   100000 non-null  object
 15  Record_Status - monthly_file_only  100000 non-null  object
dtypes: datetime64[ns](1), int32(1), object(14)
memory usage: 11.8+ MB
CPU times: user 241 ms, sys: 1.83 ms, total: 243 ms
Wall time: 245 ms

In [ ]:
%time df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 508278 to 204176
Data columns (total 16 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Transaction_unique_identifier      100000 non-null  object
 1   price                              100000 non-null  int64
 2   Date_of_Transfer                   100000 non-null  datetime64[ns]
 3   postcode                           99577 non-null   object
 4   Property_Type                      100000 non-null  object
 5   Old/New                            100000 non-null  object
 6   Duration                           100000 non-null  object
 7   PAON                               100000 non-null  object
 8   SAON                               15589 non-null   object
 9   Street                             98309 non-null   object
 10  Locality                           36493 non-null   object
 11  Town/City                          100000 non-null  object
 12  District                           100000 non-null  object
 13  County                             100000 non-null  object
 14  PPDCategory_Type                   100000 non-null  object
 15  Record_Status - monthly_file_only  100000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(14)
memory usage: 13.0+ MB
CPU times: user 289 ms, sys: 4.64 ms, total: 294 ms
Wall time: 293 ms

In [ ]:
%time dask_df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 16 entries, Transaction_unique_identifier to Record_Status - monthly_file_only
dtypes: datetime64[ns](1), object(14), int64(1)CPU times: user 2.23 ms, sys: 0 ns, total: 2.23 ms
Wall time: 2.55 ms

**Traditional Approach:** <br>
Memory Usage:<br>
High: Loading all data into memory at once can lead to high memory consumption, especially for large datasets. <br><br>
Computation Time:<br>
Slow: Loading all data at once may take a considerable amount of time, especially if the dataset is large.<br><br>
File Size:<br>
N/A: Since the data is loaded into memory, the file size doesn't directly impact the loading process.<br><br>
**Advanced Approaches:**
1. Load Less Data:
Memory Usage:<br>
Low: Loading only the necessary columns or rows reduces memory usage.<br><br>
Computation Time:<br>
Faster: Since less data is loaded, the loading process is faster.<br><br>
File Size:<br>
N/A: The file size remains unchanged, as only a subset of data is loaded.<br><br>
2. Use Chunking:
Memory Usage:<br>
Moderate: Loading data in chunks helps manage memory more efficiently.<br><br>
Computation Time:<br>
Faster (overall): Although each chunk may take less time, the overall loading time can still be significant.<br><br>
File Size:<br>
N/A: The file size remains unchanged during the loading process.<br><br>
3. Optimize Data Types:
Memory Usage:<br>
Low: Using appropriate data types reduces memory usage.<br><br>
Computation Time:<br>
Faster (overall): Loading smaller-sized data types speeds up the process.<br><br>
File Size:<br>
N/A: The file size remains unchanged during the loading process.<br><br>
4. Sampling:
Memory Usage:<br>
Low: Loading a sample reduces memory requirements.<br><br>
Computation Time:<br>
Faster: The loading time is significantly reduced when working with a sample.<br><br>
File Size:<br>
N/A: The file size remains unchanged as only a sample is loaded.<br><br>
5. Parallelize with Dask:
Memory Usage:<br>
Low to Moderate: Dask loads data in parallel, efficiently using memory.<br><br>
Computation Time:<br>
Faster: Dask parallelization speeds up the loading process.<br><br>
File Size:<br>
N/A: The file size remains unchanged during the loading process.

**Insights:** <br><br>
**Efficiency Gained:** Advanced approaches provide substantial gains in terms of memory efficiency and loading speed, making them crucial for handling large datasets.<br><br>
**Trade-offs:** Some methods, like chunking and parallelization, may introduce additional complexity, but the trade-off is often worth the performance improvements.<br><br>
**Adaptation to Data Size:** The choice of method depends on the size and characteristics of the dataset; a combination of these strategies may be optimal for different scenarios.

# 6. Conclusions

To conclude , employing advanced strategies proves to be significantly more efficient when compared to traditional approaches. Traditional methods often struggles with memory challenges, resulting in high usage and occasional disconnections due to insufficient memory, thereby restricting the processing of large datasets. The adoption of advanced strategies addresses these concerns by prioritizing essential data loading, implementing chunk processing, and optimizing data types which ultimately enhancing memory efficiency. This approach proves invaluable when handling extensive datasets that surpass available memory capacities.

Furthermore, traditional approaches tend to exhibit slower computational times, primarily due to memory constraints necessitating single-pass dataset processing. In contrast, advanced strategies expedite computation through parallel processing, judicious memory usage, and selective data loading. Notably, parallelization with tools such as Dask emerges as the most effective method for reducing computational time.

By embracing these advanced strategies, it becomes feasible to process large datasets even when confronted with limited memory space. Simultaneously, the implementation of these techniques results in a notable reduction in computational time, showcasing the overall efficiency gains achieved through a modern and optimized approach.