<a href="https://colab.research.google.com/github/drshahizan/Python-big-data/blob/main/Assignment%202a/SamVerse/SamVerse_File_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark DataFrame Basics

Spark DataFrame allow for handling large dataset easier.



*   Easy Syntax
*   Ability to use SQL directly in the frame
*   Operations are distributed across Resilient Distributed Dataset (RDD)

## Create a DataFrame

Start by installing the PySpark package by inserting the following code:

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
import pyspark.sql.functions as func

In [ ]:
spark = SparkSession.builder.appName("pyspark_basics").getOrCreate()

In [ ]:
path = "/content/drive/MyDrive/Colab Notebooks/1000000 Sales Records.csv"

In [ ]:
df = spark.read.csv(path, header=True)

## Show DataFrame

Displaying data from the dataset. Unspecified range of data retrieval as shown below will display only the first 20 results.

In [ ]:
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|    503890.08| 165258.24|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|    151880.40| 131288.40|    20592.00|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.85| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|     70036.20|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|    583484.16| 470364.16|   113120.00|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|    437.20|   263.33|   3396169.60|2045547.44|  1350622.16|
|                Asia|          Taiwan|         Fruits|      Offline|             M|  2/9/2014|732588374| 2/23/2014|      8034|      9.33|     6.92|     74957.22|  55595.28|    19361.94|
|Middle East and N...|         Algeria|      Cosmetics|       Online|             M| 2/18/2011|761723172| 2/24/2011|      9669|    437.20|   263.33|   4227286.80|2546137.77|  1681149.03|
|                Asia|       Singapore|         Snacks|       Online|             C| 1/28/2013|176461303|  2/7/2013|      7676|    152.58|    97.44|   1171204.08| 747949.44|   423254.64|
|Australia and Oce...|Papua New Guinea|        Clothes|      Offline|             L| 6/20/2011|647164094| 7/14/2011|      9092|    109.28|    35.84|    993573.76| 325857.28|   667716.48|
|                Asia|         Vietnam|  Personal Care|       Online|             M|  4/4/2010|314505374|  5/6/2010|      7984|     81.73|    56.67|    652532.32| 452453.28|   200079.04|
|  Sub-Saharan Africa|          Uganda|  Personal Care|       Online|             M| 6/19/2014|539471471| 7/21/2014|       451|     81.73|    56.67|     36860.23|  25558.17|    11302.06|
|  Sub-Saharan Africa|        Zimbabwe|Office Supplies|      Offline|             C| 3/28/2011|953361213|  4/8/2011|      9623|    651.21|   524.96|   6266593.83|5051690.08|  1214903.75|
|  Sub-Saharan Africa|        Ethiopia|      Cosmetics|       Online|             M|  7/7/2011|807785928| 7/25/2011|       662|    437.20|   263.33|    289426.40| 174324.46|   115101.94|
|              Europe|          France|      Cosmetics|       Online|             M| 12/7/2015|324669444| 1/18/2016|      5758|    437.20|   263.33|   2517397.60|1516254.14|  1001143.46|
|Central America a...|     The Bahamas|  Personal Care|       Online|             C| 1/19/2011|246248090| 2/21/2011|      9137|     81.73|    56.67|    746767.01| 517793.79|   228973.22|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

Explore all the variables contained in the dataset along with its data types using printSchema()

In [ ]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: string (nullable = true)
 |-- Unit Price: string (nullable = true)
 |-- Unit Cost: string (nullable = true)
 |-- Total Revenue: string (nullable = true)
 |-- Total Cost: string (nullable = true)
 |-- Total Profit: string (nullable = true)

## Specify Schema Structure


*   Some data types make it easier to infer schema
*   Spark has tools to help specify the structure

In [ ]:
from pyspark.sql.types import StructField, IntegerType, StructType, FloatType

In [ ]:
df = df.withColumn('Order ID', df['Order ID'].cast(IntegerType()))
df = df.withColumn('Units Sold', df['Units Sold'].cast(IntegerType()))
df = df.withColumn('Unit Price', df['Unit Price'].cast(FloatType()))
df = df.withColumn('Unit Cost', df['Unit Cost'].cast(FloatType()))
df = df.withColumn('Total Revenue', df['Total Revenue'].cast(FloatType()))
df = df.withColumn('Total Cost', df['Total Cost'].cast(FloatType()))
df = df.withColumn('Total Profit', df['Total Profit'].cast(FloatType()))

In [ ]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: integer (nullable = true)
 |-- Unit Price: float (nullable = true)
 |-- Unit Cost: float (nullable = true)
 |-- Total Revenue: float (nullable = true)
 |-- Total Cost: float (nullable = true)
 |-- Total Profit: float (nullable = true)

## Grab Data

Unlike Pandas, PySpark has a different method to retrieve datas from the dataset.

In [ ]:
df['Region']

Column<'Region'>

The method that's used in Pandas to retrieve data will only return as a column instead of the actual data.

In [ ]:
type(df['Region'])

pyspark.sql.column.Column

In [ ]:
df.select('Region')

DataFrame[Region: string]

In [ ]:
type(df.select('Region'))

pyspark.sql.dataframe.DataFrame

PySpark requires an additional step which is to include show() to actually retrieve any particular data.

In [ ]:
df.select('Region').show(10)

+--------------------+
|              Region|
+--------------------+
|  Sub-Saharan Africa|
|Middle East and N...|
|Australia and Oce...|
|  Sub-Saharan Africa|
|              Europe|
|                Asia|
|  Sub-Saharan Africa|
|  Sub-Saharan Africa|
|  Sub-Saharan Africa|
|  Sub-Saharan Africa|
+--------------------+
only showing top 10 rows

In [ ]:
df.select('Country','Sales Channel').show(10)

+----------------+-------------+
|         Country|Sales Channel|
+----------------+-------------+
|    South Africa|      Offline|
|         Morocco|       Online|
|Papua New Guinea|      Offline|
|        Djibouti|      Offline|
|        Slovakia|      Offline|
|       Sri Lanka|       Online|
|     Seychelles |       Online|
|        Tanzania|       Online|
|           Ghana|       Online|
|        Tanzania|      Offline|
+----------------+-------------+
only showing top 10 rows

In [ ]:
df.head(2)

[Row(Region='Sub-Saharan Africa', Country='South Africa', Item Type='Fruits', Sales Channel='Offline', Order Priority='M', Order Date='7/27/2012', Order ID=443368995, Ship Date='7/28/2012', Units Sold=1593, Unit Price=9.329999923706055, Unit Cost=6.920000076293945, Total Revenue=14862.6904296875, Total Cost=11023.5595703125, Total Profit=3839.1298828125),
 Row(Region='Middle East and North Africa', Country='Morocco', Item Type='Clothes', Sales Channel='Online', Order Priority='M', Order Date='9/14/2013', Order ID=667593514, Ship Date='10/19/2013', Units Sold=4611, Unit Price=109.27999877929688, Unit Cost=35.84000015258789, Total Revenue=503890.09375, Total Cost=165258.234375, Total Profit=338631.84375)]

In [ ]:
df.limit(10).show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|     503890.1| 165258.23|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|     151880.4|  131288.4|     20592.0|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.84| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|      70036.2|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|     583484.2| 470364.16|    113120.0|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|     437.2|   263.33|    3396169.5| 2045547.5|   1350622.1|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+

In [ ]:
# To get rid or whitespaces
from pyspark.sql import DataFrame
def fix_header(df: DataFrame) -> list:
    fixed_col_list: list = []
    for col in df.columns:
        fixed_col_list.append(f"`{str(col).strip()}` as {str(col).strip().replace(' ','_')}")
    return fixed_col_list

# Create a new dataframe with fixed column names
fixed_headers = fix_header(df)


# Apply to create the new dataframe
fixed_df = df.selectExpr(fixed_headers)
fixed_df.printSchema()
df = fixed_df
df.show(10)

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: float (nullable = true)
 |-- Unit_Cost: float (nullable = true)
 |-- Total_Revenue: float (nullable = true)
 |-- Total_Cost: float (nullable = true)
 |-- Total_Profit: float (nullable = true)

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|     503890.1| 165258.23|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|     151880.4|  131288.4|     20592.0|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.84| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|      70036.2|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|     583484.2| 470364.16|    113120.0|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|     437.2|   263.33|    3396169.5| 2045547.5|   1350622.1|
|                Asia|          Taiwan|         Fruits|      Offline|             M|  2/9/2014|732588374| 2/23/2014|      8034|      9.33|     6.92|     74957.22|  55595.28|    19361.94|
|Middle East and N...|         Algeria|      Cosmetics|       Online|             M| 2/18/2011|761723172| 2/24/2011|      9669|     437.2|   263.33|    4227287.0| 2546137.8|   1681149.0|
|                Asia|       Singapore|         Snacks|       Online|             C| 1/28/2013|176461303|  2/7/2013|      7676|    152.58|    97.44|    1171204.1| 747949.44|   423254.62|
|Australia and Oce...|Papua New Guinea|        Clothes|      Offline|             L| 6/20/2011|647164094| 7/14/2011|      9092|    109.28|    35.84|    993573.75| 325857.28|    667716.5|
|                Asia|         Vietnam|  Personal Care|       Online|             M|  4/4/2010|314505374|  5/6/2010|      7984|     81.73|    56.67|     652532.3| 452453.28|   200079.05|
|  Sub-Saharan Africa|          Uganda|  Personal Care|       Online|             M| 6/19/2014|539471471| 7/21/2014|       451|     81.73|    56.67|     36860.23|  25558.17|    11302.06|
|  Sub-Saharan Africa|        Zimbabwe|Office Supplies|      Offline|             C| 3/28/2011|953361213|  4/8/2011|      9623|    651.21|   524.96|    6266594.0| 5051690.0|   1214903.8|
|  Sub-Saharan Africa|        Ethiopia|      Cosmetics|       Online|             M|  7/7/2011|807785928| 7/25/2011|       662|     437.2|   263.33|     289426.4| 174324.45|   115101.94|
|              Europe|          France|      Cosmetics|       Online|             M| 12/7/2015|324669444| 1/18/2016|      5758|     437.2|   263.33|    2517397.5| 1516254.1|  1001143.44|
|Central America a...|     The Bahamas|  Personal Care|       Online|             C| 1/19/2011|246248090| 2/21/2011|      9137|     81.73|    56.67|     746767.0| 517793.78|   228973.22|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

## Create New Column

You can create a new column in the dataset by inserting the code below. However this will not make a permanent change to the orginal dataset.

In [ ]:
df.withColumn('Profit per Unit', func.round(df['Unit_Price']-df['Unit_Cost'],2)).limit(10).show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+---------------+
|              Region|         Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|Profit per Unit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+---------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|           2.41|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|     503890.1| 165258.23|   338631.84|          73.44|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|     151880.4|  131288.4|     20592.0|           57.2|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|          73.44|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.84| 126301.67|    62217.18|          15.66|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|           2.41|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|          15.66|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|      70036.2|  46922.04|    23114.16|          15.66|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|     583484.2| 470364.16|    113120.0|         126.25|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|     437.2|   263.33|    3396169.5| 2045547.5|   1350622.1|         173.87|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+---------------+

Rename a column name using withColumnRenamed() by inserting the column to be changed followed by the name to changed to.

In [ ]:
df.withColumnRenamed('Country','Nation').limit(10).show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|          Nation|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|     503890.1| 165258.23|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|     151880.4|  131288.4|     20592.0|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.84| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|      70036.2|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|     583484.2| 470364.16|    113120.0|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|     437.2|   263.33|    3396169.5| 2045547.5|   1350622.1|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+

## Using SQL

PySpark can also be used with similar method syntaxes from SQL.

In [ ]:
df.createOrReplaceTempView('The_Dataset')

In [ ]:
sql_results = spark.sql('SELECT * from The_Dataset')

In [ ]:
sql_results

DataFrame[Region: string, Country: string, Item_Type: string, Sales_Channel: string, Order_Priority: string, Order_Date: string, Order_ID: int, Ship_Date: string, Units_Sold: int, Unit_Price: float, Unit_Cost: float, Total_Revenue: float, Total_Cost: float, Total_Profit: float]

In [ ]:
sql_results.show(10)

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|     503890.1| 165258.23|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|     151880.4|  131288.4|     20592.0|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.84| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|      70036.2|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|     583484.2| 470364.16|    113120.0|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|     437.2|   263.33|    3396169.5| 2045547.5|   1350622.1|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 10 rows

In [ ]:
spark.sql('SELECT * FROM The_Dataset WHERE Region = "Asia"').show(10)

+------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Region|     Country|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|
+------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Asia|   Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Asia|      Taiwan|         Fruits|      Offline|             M|  2/9/2014|732588374| 2/23/2014|      8034|      9.33|     6.92|     74957.22|  55595.28|    19361.94|
|  Asia|   Singapore|         Snacks|       Online|             C| 1/28/2013|176461303|  2/7/2013|      7676|    152.58|    97.44|    1171204.1| 747949.44|   423254.62|
|  Asia|     Vietnam|  Personal Care|       Online|             M|  4/4/2010|314505374|  5/6/2010|      7984|     81.73|    56.67|     652532.3| 452453.28|   200079.05|
|  Asia|Turkmenistan|     Vegetables|       Online|             M| 4/13/2015|116205585|  6/2/2015|      6670|    154.06|    90.93|    1027580.2|  606503.1|    421077.1|
|  Asia|       China|Office Supplies|       Online|             M| 2/10/2016|198927056| 3/29/2016|      5791|    651.21|   524.96|    3771157.0| 3040043.2|   731113.75|
|  Asia|    Malaysia|      Beverages|       Online|             M|11/13/2014|955894076|12/28/2014|      9154|     47.45|    31.79|     434357.3| 291005.66|   143351.64|
|  Asia|       India|         Snacks|       Online|             L|10/10/2012|440306556|11/20/2012|      5349|    152.58|    97.44|    816150.44| 521206.56|   294943.88|
|  Asia|  Kazakhstan|         Snacks|       Online|             L|  9/8/2013|710296428|10/25/2013|      1352|    152.58|    97.44|    206288.16| 131738.88|    74549.28|
|  Asia|      Brunei|         Cereal|      Offline|             L| 5/28/2013|153842341| 7/16/2013|      4222|     205.7|   117.11|     868465.4|  494438.4|   374026.97|
+------+------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 10 rows

In [ ]:
spark.sql('SELECT Item_Type, Units_Sold FROM The_Dataset').show(10)

+---------------+----------+
|      Item_Type|Units_Sold|
+---------------+----------+
|         Fruits|      1593|
|        Clothes|      4611|
|           Meat|       360|
|        Clothes|       562|
|      Beverages|      3973|
|         Fruits|      1379|
|      Beverages|       597|
|      Beverages|      1476|
|Office Supplies|       896|
|      Cosmetics|      7768|
+---------------+----------+
only showing top 10 rows