#import from kaggle

In [ ]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c nyc-taxi-trip-duration

nyc-taxi-trip-duration.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip nyc-taxi-trip-duration.zip

Archive:  nyc-taxi-trip-duration.zip
  inflating: sample_submission.zip
  inflating: test.zip
  inflating: train.zip

In [ ]:
!unzip sample_submission.zip

Archive:  sample_submission.zip
  inflating: sample_submission.csv

In [ ]:
!unzip test.zip

Archive:  test.zip
  inflating: test.csv

In [ ]:
!unzip train.zip

Archive:  train.zip
  inflating: train.csv

#sampling

In [ ]:
import pandas
import random

filename = 'sample_submission.csv'
n = sum(1 for line in open('sample_submission.csv'))-1  # Calculate number of rows in file
s = n//10  # sample size of 10%
skip = sorted(random.sample(range(1, n+1), n-s))  # n+1 to compensate for header 
df = pandas.read_csv('sample_submission.csv', skiprows=skip)
df.head(10)

          id  trip_duration
0  id3004672            959
1  id3024712            959
2  id1345524            959
3  id2108605            959
4  id1707352            959
5  id2422279            959
6  id1309256            959
7  id3645922            959
8  id2217703            959
9  id2125163            959

In [ ]:
import pandas as pd
import random as rn

filename = 'test.csv'
n = sum(1 for line in open('test.csv'))-1  # Calculate number of rows in file
s = n//10  # sample size of 10%
skip = sorted(rn.sample(range(1, n+1), n-s))  # n+1 to compensate for header 
dg = pd.read_csv('test.csv', skiprows=skip)
dg.head(10)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id0668992,1,2016-06-30 23:59:30,1,-73.991302,40.749798,-73.980515,40.786549,N
1,id0898117,1,2016-06-30 23:59:09,2,-74.012711,40.701527,-73.986481,40.719509,N
2,id3457080,2,2016-06-30 23:57:57,1,-73.986801,40.734917,-73.975899,40.756893,N
3,id1468488,2,2016-06-30 23:55:13,1,-73.994690,40.725819,-73.987160,40.729259,N
4,id2052707,2,2016-06-30 23:50:28,1,-74.007439,40.733101,-73.996048,40.722462,N
5,id1408427,2,2016-06-30 23:48:51,1,-74.005180,40.719135,-73.953819,40.821625,N
6,id3468683,1,2016-06-30 23:39:41,1,-73.995766,40.753857,-73.986092,40.743401,N
7,id0526259,2,2016-06-30 23:36:57,1,-73.987419,40.721828,-73.945648,40.715172,N
8,id0426749,1,2016-06-30 23:32:09,4,-73.986351,40.755756,-73.947685,40.752155,N
9,id1300331,1,2016-06-30 23:31:56,1,-73.966743,40.764004,-73.955154,40.772511,N

In [ ]:
import pandas as pd
import random as rn

filename = 'train.csv'
n = sum(1 for line in open('train.csv'))-1  # Calculate number of rows in file
s = n//10  # sample size of 10%
skip = sorted(rn.sample(range(1, n+1), n-s))  # n+1 to compensate for header 
dh = pd.read_csv('train.csv', skiprows=skip)
dh.head(10)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
1,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
2,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225
3,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486
4,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652
5,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423
6,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485
7,id1530524,1,2016-03-19 17:41:05,2016-03-19 17:48:57,1,-73.953423,40.767658,-73.980316,40.737782,N,472
8,id0913838,2,2016-02-03 16:22:50,2016-02-03 16:37:20,5,-73.978333,40.754070,-73.959732,40.772758,N,870
9,id0813128,2,2016-02-20 18:57:43,2016-02-20 19:07:32,2,-73.991203,40.749554,-73.979195,40.746307,N,589

# chunking

In [ ]:

trip_duration_max = []

for reader in pd.read_csv('sample_submission.csv', chunksize=10000000):
    # do any processing on reader
    print(trip_duration_max.append(reader['trip_duration'].max()))

None

In [ ]:

pickup_datetime_max = []

for reader in pd.read_csv('test.csv', chunksize=10000000):
    # do any processing on reader
    print(pickup_datetime_max.append(reader['pickup_datetime'].max()))

None

In [ ]:

pickup_datetime_max = []

for reader in pd.read_csv('train.csv', chunksize=10000000):
    # do any processing on reader
    print(pickup_datetime_max.append(reader['pickup_datetime'].max()))

None

## **Technique #1: Donâ€™t load all the column**

In [ ]:
>>> import pandas as pd
>>> df = pd.read_csv("sample_submission.csv")
>>> df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Columns: 2 entries, id to trip_duration
dtypes: int64(1), object(1)
memory usage: 44.1 MB

In [ ]:
>>> df = df[["trip_duration"]]
>>> df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Columns: 1 entries, trip_duration to trip_duration
dtypes: int64(1)
memory usage: 4.8 MB

In [ ]:
>>> import pandas as pd
>>> dg = pd.read_csv("test.csv")
>>> dg.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Columns: 9 entries, id to store_and_fwd_flag
dtypes: float64(4), int64(2), object(3)
memory usage: 147.9 MB

In [ ]:
dg = dg[["passenger_count"]]
dg.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Columns: 1 entries, passenger_count to passenger_count
dtypes: int8(1)
memory usage: 610.6 KB

In [ ]:
dh = dh[["trip_duration"]]
dh.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Columns: 1 entries, trip_duration to trip_duration
dtypes: int64(1)
memory usage: 11.1 MB

In [ ]:
>>> import pandas as pd
>>> dh = pd.read_csv("train.csv")
>>> dh.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Columns: 11 entries, id to trip_duration
dtypes: float64(4), int64(3), object(4)
memory usage: 461.8 MB

In [ ]:

>>> dh.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Columns: 1 entries, trip_duration to trip_duration
dtypes: int32(1)
memory usage: 5.6 MB



```
`# This is formatted as code`
```

##**Technique #2: Shrink numerical columns with smaller dtypes**

In [ ]:
#before 
import pandas as pd
df = pd.read_csv('/content/sample_submission.csv')
df.dtypes

id               object
trip_duration     int64
dtype: object

In [ ]:
#before 
import pandas as pd
dg = pd.read_csv('/content/test.csv')
dg.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
dtype: object

In [ ]:
#before 
import pandas as pd
dh = pd.read_csv('/content/train.csv')
dh.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [ ]:

df.memory_usage().sum()/(1024*1024*1024)

0.02389804646372795

In [ ]:
#@title Default title text
import numpy as np
from pandas.api.types import is_datetime64_any_dtype as is_datetime
from pandas.api.types import is_categorical_dtype

def reduce_mem_usage(df, use_float16=False):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        if is_datetime(df[col]) or is_categorical_dtype(df[col]):
            # skip datetime type or categorical type
            continue
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if use_float16 and c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [ ]:
dg.memory_usage().sum()/(1024*1024*1024)

0.004657730460166931

In [ ]:
dh.memory_usage().sum()/(1024*1024*1024)

0.010867863893508911

In [ ]:
>>> df = pd.read_csv("sample_submission.csv")
>>> df.memory_usage(index= False, deep=True)

id               41258844
trip_duration     5001072
dtype: int64

In [ ]:
dg_new = reduce_mem_usage(dg)

Memory usage of dataframe is 0.60 MB
Memory usage after optimization is: 0.60 MB
Decreased by 0.0%

In [ ]:
dg_new.dtypes

passenger_count    int8
dtype: object

In [ ]:
dh_new = reduce_mem_usage(dh)

Memory usage of dataframe is 11.13 MB
Memory usage after optimization is: 5.56 MB
Decreased by 50.0%

In [ ]:
dh_new.dtypes

trip_duration    int32
dtype: object

In [ ]:
df_new = reduce_mem_usage(df)

Memory usage of dataframe is 9.54 MB
Memory usage after optimization is: 24.47 MB
Decreased by -156.5%

In [ ]:
df_new.dtypes

id               category
trip_duration       int16
dtype: object

## **Technique #3: Shrink categorical data using Categorical**

In [ ]:
df = pd.read_csv(
...     "sample_submission.csv", dtype={"trip_duration": "int16"})

In [ ]:
df["trip_duration"].head(5)

0    959
1    959
2    959
3    959
4    959
Name: trip_duration, dtype: int16

In [ ]:
df = pd.read_csv(
...     "train.csv", dtype={"trip_duration": "int16"})

In [ ]:
df["trip_duration"].head(5)

0     455
1     663
2    2124
3     429
4     435
Name: trip_duration, dtype: int16

In [ ]:
df = pd.read_csv(
...     "test.csv", dtype={"passenger_count": "int16"})

In [ ]:
df["passenger_count"].head(5)

0    1
1    1
2    1
3    1
4    1
Name: passenger_count, dtype: int16


## **Technique** #4: Sparse series

In [ ]:
>>> df = pd.read_csv("sample_submission.csv")
series = df["trip_duration"]
series.memory_usage(index=False, deep=True)

5001072

In [ ]:
>>> len(series)

625134

In [ ]:
>>> len(series.dropna())  #no NAN

625134

In [ ]:
 sparse_series = series.astype("Sparse[str]")

In [ ]:
>>> sparse_series.memory_usage(index=False, deep=True)

In [ ]:
>>> df = pd.read_csv("test.csv")
series2 = df["pickup_datetime"]
series2.memory_usage(index=False, deep=True)

47510184

In [ ]:
>>> len(series2)

625134

In [ ]:
>>> len(series2.dropna())  #no NAN

625134

In [ ]:
>>> df = pd.read_csv("train.csv")
series4 = df["trip_duration"]
series4.memory_usage(index=False, deep=True)

11669152

In [ ]:
>>> len(series4)

1458644

In [ ]:
>>> len(series4.dropna())  #no NAN

1458644