<a href="https://colab.research.google.com/github/drshahizan/Python-big-data/blob/main/Assignment%202/team%207/DataTable_File1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment: Alternatives to Pandas for Processing Large Datasets (Data Table)

**Group 7**

Group Members: 


1.   Madina Suraya binti Zharin       A20EC0203
2.   Nur Izzah Mardhiah binti Rashidi A20EC0116
3. Tan Yong Sheng                     A20EC0157
4. Chloe Racquelmae Kennedy           A20EC0026

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset = '/content/drive/MyDrive/Colab Notebooks/Big Data - Asg2/Rate.csv'

## Installing Data Table

To use the package, we need to install it first

In [ ]:
!pip install datatable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting datatable
  Downloading datatable-1.0.0-cp38-cp38-manylinux_2_12_x86_64.whl (96.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 MB 11.2 MB/s eta 0:00:00
Installing collected packages: datatable
Successfully installed datatable-1.0.0

After installing, we need to import the package. Then, it is ready to be used

In [ ]:
import time
import datatable as dt
print(dt.__version__)

1.0.0

## Reading Data

`fread` is the function to read the files in datatable module. From the documentation,fread provides fast and convenient parsing of text (csv) files.

In [ ]:
start = time.time()
input_file_name = dataset
dt_df = dt.fread(input_file_name)
end = time.time()
print(end - start)

13.901981592178345

## Dataset Properties

In [ ]:
dt_df.head()

It can be observed that, the method fread return datatable Frame object.

In [ ]:
type(dt_df)

datatable.Frame

In [ ]:
dt_df.shape

(12694445, 24)

In [ ]:
dt_df.names

('BusinessYear',
 'StateCode',
 'IssuerId',
 'SourceName',
 'VersionNum',
 'ImportDate',
 'IssuerId2',
 'FederalTIN',
 'RateEffectiveDate',
 'RateExpirationDate',
 'PlanId',
 'RatingAreaId',
 'Tobacco',
 'Age',
 'IndividualRate',
 'IndividualTobaccoRate',
 'Couple',
 'PrimarySubscriberAndOneDependent',
 'PrimarySubscriberAndTwoDependents',
 'PrimarySubscriberAndThreeOrMoreDependents',
 'CoupleAndOneDependent',
 'CoupleAndTwoDependents',
 'CoupleAndThreeOrMoreDependents',
 'RowNumber')

In [ ]:
dt_df.stypes

(stype.int32,
 stype.str32,
 stype.int32,
 stype.str32,
 stype.int32,
 stype.time64,
 stype.int32,
 stype.str32,
 stype.date32,
 stype.date32,
 stype.str32,
 stype.str32,
 stype.str32,
 stype.str32,
 stype.float64,
 stype.float64,
 stype.float64,
 stype.float64,
 stype.float64,
 stype.float64,
 stype.float64,
 stype.float64,
 stype.float64,
 stype.int32)

Looking at the number of unique values per columns

In [ ]:
dt_df.nunique()

## Data Slicing

In [ ]:
dt_df[0:10,0:4]

## Data Filtering

In [ ]:
from datatable import *

Filter out the data where the Business Year data is 2015

In [ ]:
year = dt_df[f.BusinessYear == 2015,:]
year.head(5)

## Data Aggregation

Find the average of Individual Rate based on the Age

In [ ]:
avgIndividualRate = dt_df[:,dt.mean(f.IndividualRate),dt.by(f.Age)]
avgIndividualRate

## Data Sorting

Sort the data based on Age (increasing)

In [ ]:
sortedData = dt_df[:,:,dt.sort(f.Age)]
sortedData.head(3)

Sort the data based on Age (decreasing)

In [ ]:
sortedData = dt_df[:,:,dt.sort(-f.Age)]
sortedData.head(3)